<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <div class="formulario-principal">
        <div>
            <i class="bi bi-file-earmark-plus-fill" style="font-size: 50px;"></i>
        </div>
        <div>
            <h1 class="form-titulo-principal">Formulario de las mascotas</h1>
            <span style="color: rgb(136, 136, 136);">
                Rellene los campos solicitados
            </span>
        </div>
    </div>
    <div class="formulario-fondo">
        <form class="formulario-p" th:action="@{/mascotas/procesar}" method="post" th:object="${mascotas}">
            <h1 class="text-center">Formulario de las mascotas</h1>
            <a class="for-navegacion" href="/mascotas">Regresar</a>
            <input type="hidden" th:field="*{id}">

            <div class="form-floating mb-3" style="width: 350px;">
                <input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}">
                <label for="floatingText">Nombre</label>
            <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="errors"></p>
            </div>
            
            <div class="form-floating mb-3" style="width: 350px;">
                <input type="number" class="form-control" placeholder="Edad" th:field="*{edad}">
                <label for="floatingNumber">Edad</label>
            <p th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="errors"></p>
            </div>
            
            <div class="form-floating mb-3" style="width: 350px;">
                <input type="text" class="form-control" placeholder="Vacunas" th:field="*{vacunas}">
                <label for="floatingNumber">Vacunas</label>
            <p th:if="${#fields.hasErrors('vacunas')}" th:errors="*{vacunas}" class="errors"></p>
            </div>
            
            <div class="form-floating mb-3" style="width: 350px;">
                <input type="date" class="form-control" placeholder="Fecha de adopción" th:field="*{fechaAdopcion}">
                <label for="floatingNumber">Fecha de adopción</label>
            <p th:if="${#fields.hasErrors('fechaAdopcion')}" th:errors="*{fechaAdopcion}" class="errors"></p>
            </div>

            <button type="submit" class="btn btn-outline-primary">Procesar</button>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>s