<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <div class="titulo-principal">
        <div>
            <i class="bi bi-check-circle" style="font-size: 55px;"></i>
        </div>
        <div>
            <h1>
                Bandeja de adopciones registradas
            </h1>
            <span style="color: rgb(136, 136, 136);">
                Permite administrar, ingresar y eliminar fichas registradas
            </span>
        </div>
    </div>
    <div class="tabla-fondo">
        <h1 class="titulo-secundario">Listado de las Mascotas</h1>
        <div
            style="margin-bottom: 20px; display: flex; justify-content: space-between; padding-left: 165px; padding-right: 150px;">
            <a class="navegacion" href="/contactos">
                Volver
            </a>
            <a class="navegacion" href="mascotas/nuevo">
                Agregar nueva mascota
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <div class="tabla-cuerpo">
            <table class="table table-bordered" style="text-align: center; width: 80%;border: solid 2px;">
                <thead class="table-primary">
                    <tr>
                        <th style="padding: 10px;">ID</th>
                        <th>NOMBRE</th>
                        <th>EDAD</th>
                        <th>FECHA DE ADOPCION</th>
                        <th>CANTIDAD DE VACUNAS</th>
                        <th>
                            <i class="bi bi-gear-fill" style="font-size: 14px;"></i>
                            ACCIONES
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider tab">
                    <tr th:each="masco : ${mascotas}">
                        <td style="padding: 7px;">[[${masco.id}]]</td>
                        <td>[[${masco.nombre}]]</td>
                        <td>[[${masco.edad}]]</td>
                        <td>[[${masco.fechaAdopcion}]]</td>
                        <td>[[${masco.vacunas}]]</td>
                        <td>
                            <a style="margin-right: 18px; padding: 3px; text-decoration: none;"
                                th:href="@{/mascotas/editar/{id}(id=${masco.id})}">
                                <i class="bi bi-pencil-square" style="color: orange; font-size: 22px;"></i>
                            </a>
                            <a style="border: 2px solid; color: red; padding: 1px;"
                                th:href="@{/mascotas/eliminar/{id}(id=${masco.id})}"
                                onclick="return confirm('¿Eliminar?')">
                                <i class="bi bi-trash3-fill" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</html>