<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/personalizar.css" type="text/css">
    <link rel="stylesheet" href="/css/tablas.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Mundo ZooPet's</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ColorHead">
            <div class="container-fluid">
                <a class="navbar-brand " href="/">
                    <img src="/img/mundoPet.png" alt="logoPrincipal"> Mundo ZooPet's
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <form class="mx-auto d-flex w-50" role="search">
                        <input class="form-control me-2 fs-5 bg-warning-subtle" type="search" placeholder="Buscar Productos"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search "></i>
                        </button>
                    </form>
                    <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle nav-link active fs-5 "
                                role="button" data-bs-toggle="dropdown">Categorias</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-info-emphasis" href="/gatos">Gatos</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/perros">Perros</a></li>
                                <li>
                                    <hr class="dropdown-divider ">
                                </li>
                                <li><a class="dropdown-item text-info-emphasis" href="/otros">Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle nav-link active fs-5 "
                                role="button" data-bs-toggle="dropdown">Prueba ModoAdmin</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-info-emphasis" href="/mascotas">MASCOTAS</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/duenos">DUEÑOS</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/productos">PRODUCTOS</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/trabajadores">TRABAJADORES</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/usuarios">USUARIOS</a></li>
                                <li><a class="dropdown-item text-info-emphasis" href="/comentarios">COMENTARIOS</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active fs-5" aria-current="page" href="/contactos">Contactos</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active fs-5" aria-current="page" href="/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown mx-2 ">
                            <a class="nav-link dropdown-toggle nav-link active fs-5"
                                role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-person fs-4"></i>
                                <span class="d-md-none" >Mi Cuenta</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" style="min-width: 10rem;">
                                <li>
                                    <a class="dropdown-item text-info-emphasis" href="/registrate">Registrate</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-info-emphasis" href="/iniciar-sesion">Iniciar Sesión</a>
                                </li>
                            </ul>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/carrito">
                                <i class="bi bi-cart fs-4"></i>
                                <span class="d-md-none" >Mis Compras</span>
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <footer class="container-fluid ColorPie  pt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <h4 class="mb-4 ColorTexto">Sobre Nosotros</h4>
                    <ul class="list-unstyled tamaño-p">
                        <li >Doctores Especializadas</li>
                        <li >Creación de la Empresa</li>
                        <li >Fundadores Principales</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <h4 class="mb-4 ColorTexto">Servicio al Cliente</h4>
                    <ul class="list-unstyled tamaño-p">
                        <li >Términos y condiciones</li>
                        <li >Politica de Privacidad</li>
                        <li >Libro de Reclamaciones</li>
                    </ul>                
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <h4 class="mb-4 ColorTexto">Contactanos</h4>
                    <ul class="list-unstyled tamaño-p">
                        <li>LLamanos al: 987654321</li>
                        
                        <li >Escribenos a: Zoopet@gmail.com</li>
                        
                        <li class="me-2" style="color: #F9E27D; font-size: 20px;">Siguenos:
                            <i class="fa-brands fa-facebook me-2"></i>
                            <i class="fa-brands fa-whatsapp me-2"></i>
                            <i class="fa-brands fa-instagram me-2"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="height: 7px; background-color: #fc7171; border: none;">
        <div class="text-light text-center pt-3 pb-1 mt-1 ColorPie">
            <p>Todos los derechos reservados Av. Paseo de la República 3220, San Isidro, Perú - 2025 - &copy; MundoPet´s S.A.C.</p>
        </div>
    </footer>
</body>
</html>