<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head}" ></head>
<body>
    <header th:replace="~{fragments/layout :: header}" ></header>
    <main class="container my-5">
        
        <h1 class="text-center mb-5">Nuestros Productos</h1>

        <div class="row g-4">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dwbb064a78/images/salvaje-adulto-salmon-15kg.jpg" class="card-img-top" alt="Producto 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Salvaje Adulto Con Salmon 15Kg</h5>
                        <p class="card-text fw-bold text-success">S/ 174.90</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dw394e2959/images/AP000052.jpg" class="card-img-top" alt="Producto 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dog Chow Adulto Raza Mediana Y Grande Alimento Seco Perro</h5>
                        <p class="card-text fw-bold text-success">S/ 114.90</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dwbf61c562/images/PS000656-1.webp" class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Transportador De Viaje Para Mascota L 80</h5>
                        <p class="card-text fw-bold text-success">S/ 539.90</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dwa67165d3/images/mpets-fish-cat-wand.jpg" class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Varita fish pescado de tela 35 cm</h5>
                        <p class="card-text fw-bold text-success">S/ 19.90</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dw50c7ea8f/images/MD007859-1.jpg" class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Leeby Cama Cueva Antiestrés Gris para gatos</h5>
                        <p class="card-text fw-bold text-success">S/ 79.90</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://www.superpet.pe/on/demandware.static/-/Sites-SuperPet-master-catalog/default/dw07fd12c2/images/applaws-filete-de-atun-con-cangrejo-x-70-gr.jpg" class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Applaws Filete De Atun Con Cangrejo X 70 Gr</h5>
                        <p class="card-text fw-bold text-success">S/ 8.50</p>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/layout :: footer}" ></footer>
</body>
</html>