<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perros.css" type="text/css">
    <link rel="stylesheet" href="/css/personalizar.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../IMG/MundoPet's.png" type="image/x-icon">
    <title>Mundo ZooPet's</title>
</head>
<body>
    <header th:replace="~{fragments/layout :: header}" ></header>
    <main class="container my-5">

        <div class="text-center mb-4">
            <button class="btn btnColor2 me-2" >
                <i class="fa-solid fa-dog"></i> Razas Pequeñas
            </button>
            <button class="btn btnColor2 me-2" >
                <i class="fa-solid fa-paw"></i> Razas Medianas
            </button>
            <button class="btn btnColor2" >
                <i class="fa-solid fa-bone"></i> Razas Grandes
            </button>
        </div>
        <div class="text-center mb-5">
            <p class="text-muted small">NUESTROS AMIGOS</p>
            <h2 class="fw-bold">Encuentra a tu compañero ideal para toda la vida</h2>
          </div>
          
        <!-- INICIO DE CARD Y MODAL -->
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/09e838_1e188b7996d1477b9d5896e84c70e3c1~mv2.jpg/v1/fill/w_285,h_285,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/09e838_1e188b7996d1477b9d5896e84c70e3c1~mv2.jpg"
                        class="card-img-top" alt="Producto 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Toronto</h5>
                       
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal"data-bs-target="#Animal1">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Spy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->
            <!-- INICIO DE CARD Y MODAL -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/09e838_3003650412044e47a99fa662ca432887~mv2.jpg/v1/fill/w_285,h_285,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/09e838_3003650412044e47a99fa662ca432887~mv2.jpg"
                        class="card-img-top" alt="Producto 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Piraña</h5>
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal"data-bs-target="#Animal2">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Spy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->
            <!-- INICIO DE CARD Y MODAL -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/8af33b_f623a0fe39ea4c40b2d88c0fd4ce1cbe~mv2.jpg/v1/fill/w_285,h_285,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/8af33b_f623a0fe39ea4c40b2d88c0fd4ce1cbe~mv2.jpg"
                        class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Toro</h5>
                        
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal" data-bs-target="#Animal3">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Spy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->
            <!-- INICIO DE CARD Y MODAL -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/8af33b_32cc4320c6114779b92433832b3d0c9c~mv2.jpg/v1/fill/w_285,h_285,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/8af33b_32cc4320c6114779b92433832b3d0c9c~mv2.jpg"
                        class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pedrito</h5>
                        
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal" data-bs-target="#Animal4">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Spy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->
            <!-- INICIO DE CARD Y MODAL -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/f4b088_f68a543aaddc4a598ae00ed592c22301~mv2.png/v1/fill/w_285,h_285,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/f4b088_f68a543aaddc4a598ae00ed592c22301~mv2.png"
                        class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Chicho</h5>
                        
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal" data-bs-target="#Animal5">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Soy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->
            <!-- INICIO DE CARD Y MODAL -->
            <div class="col-md-4">
                <div class="card h-100 shadow-sm card-pequeño">
                    <img src="https://static.wixstatic.com/media/f4b088_1c00ea04fea64a6a96d839afc96e24ce~mv2.png/v1/fill/w_285,h_285,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/f4b088_1c00ea04fea64a6a96d839afc96e24ce~mv2.png"
                        class="card-img-top" alt="Producto 3">
                    <div class="card-body text-center">
                        <h5 class="card-title">Emy</h5>
                        
                        <button type="button" class="btn btnColor2" data-bs-toggle="modal" data-bs-target="#Animal6">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Animal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adoptame</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Spy un perro alegre y juegueton</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN DE CARD Y MODAL -->

        </div>
    </main>
    <footer th:replace="~{fragments/layout :: footer}" ></footer>
</body>
</html>