<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de los comentarios</h1>
    <a href="/inicio">Regresar</a>
    <table border="1" style="text-align: center; width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Comentario</th>
                <th>
                    <a href="comentarios/nuevo">+</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="comen : ${comentarios}">
                <td>[[${comen.id}]]</td>
                <td>[[${comen.nombre}]]</td>
                <td>[[${comen.correo}]]</td>
                <td>[[${comen.comentario}]]</td>
                <td>
                    <a th:href="@{/comentarios/eliminar/{id}(id=${comen.id})}" onclick="return confirm('¿Eliminar?')">tachito</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>