<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>
    <div class="titulo-principal">
        <div>
            <i class="bi bi-check-circle" style="font-size: 55px;"></i>
        </div>
        <div>
            <h1>
                Bandeja de comentarios
            </h1>
            <span style="color: rgb(136, 136, 136);">
                Permite administrar, ingresar y eliminar fichas registradas
            </span>
        </div>
    </div>
    <div class="tabla-fondo">
        <h1 class="titulo-secundario">Reseñas del público</h1>
        <div
            style="margin-bottom: 20px; display: flex; justify-content: space-between; padding-left: 165px; padding-right: 150px;">
            <a class="navegacion" href="/contactos">
                Volver
            </a>
        </div>
        <div class="tabla-cuerpo">
            <table class="table table-bordered" style="text-align: center; width: 80%;border: solid 2px;">
                <thead class="table-primary">
                    <tr>
                        <th style="padding: 10px;">ID</th>
                        <th>NOMBRE</th>
                        <th>CORREO</th>
                        <th>COMENTARIO</th>
                        <th>
                            <i class="bi bi-gear-fill" style="font-size: 14px;"></i>
                            ACCIONES
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider tab">
                    <tr th:each="comen : ${comentarios}">
                        <td style="padding: 7px;">[[${comen.id}]]</td>
                        <td>[[${comen.nombre}]]</td>
                        <td>[[${comen.correo}]]</td>
                        <td>[[${comen.comentario}]]</td>
                        <td>
                            <a style="border: 2px solid; color: red; padding: 1px;"
                                th:href="@{/comentarios/eliminar/{id}(id=${comen.id})}" onclick="return confirm('¿Eliminar?')">
                                <i class="bi bi-trash3-fill" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</html>